.sec-members {
	padding: 30px 0;

	@include media-breakpoint-up(md) {
		padding: 60px 0;
	}
}

.sec-members .members {
	display: flex;
	flex-wrap: wrap;

	&__item {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 10px 15px 30px;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 6px;
		text-align: center;

		@include media-breakpoint-up(md) {
			margin-left: 15px;
			width: calc(25% - 15px);
		}
	}

	&__item:not(:first-of-type) {
		margin-top: 30px;

		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}

	&__item:nth-of-type(4n + 1) {
		@include media-breakpoint-up(md) {
			margin-left: 0;
		}
	}

	&__item:nth-of-type(n + 5) {
		@include media-breakpoint-up(md) {
			margin-top: 15px;
		}
	}

	&__position {
		align-self: flex-start;
		color: #999;
		text-align: left;
	}

	&__avatar {
		overflow: hidden;
		margin-top: 5px;
		border: 1px solid #ccc;
		border-radius: 50%;
		color: #fff;
	}

	&__avatar img {
		max-width: 100%;
		width: 140px;
		vertical-align: middle;
		object-fit: cover;
	}

	&__realname {
		@include heading-font();

		margin-top: 15px;
		font-size: 2.2rem;
	}

	&__nickname {
		margin-top: 5px;
		color: #666;
		font-size: 1.8rem;
	}

	&__course {
		margin-top: 10px;
		color: #999;
	}

	&__interests {
		margin-top: 10px;
	}

	&__links {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-top: auto;
		padding-top: 30px;
		width: 100%;
	}
}

.sec-members .interests {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__item {
		display: inline-block;
		margin: 2px;
		padding-right: 8px;
		padding-left: 8px;
		border-radius: 2px;
		background-color: #eee;
		color: #666;
	}
}

.sec-members .links {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;

	&__item {
		margin: 5px;
	}
}

.sec-members .links .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	color: #fff;
	text-decoration: none;
	transition: transform .6s ease;

	&--twitter {
		background-color: #1da1f2;
	}

	&--twitter .fa {
		position: relative;
		left: 1px;
	}

	&--facebook {
		background-color: #3b5998;
	}

	&--github {
		background-color: #999;
	}

	&--qiita {
		background-color: #4cb10d;
	}

	&--qiita .fa {
		position: relative;
		left: 1px;
	}
}
