.mv {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    min-height: 640px;
  }

  .webp & {
    background-image: url('/assets/images/mv_bg01.webp');
  }

  .no-webp & {
    background-image: url('/assets/images/mv_bg01.jpg');
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.8));
  }

  &__logo img {
    display: block;
  }

  &__logo-link {
    display: block;
    padding: 12px 10px;
  }

  &__motto {
    @include heading-typography();

    align-self: center;
    padding-left: 30px;
    color: #fff;
    text-shadow: 0 0 6px hsla(0, 0%, 0%, 0.3);
    font-size: 24px;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      padding-left: 140px;
      font-size: 48px;
    }
  }
}
