@charset "UTF-8";

@import "public/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";

@font-face {
	font-family: "源ノ角ゴシック JP";
	font-weight: normal;
	font-style: normal;
	src: local("源ノ角ゴシック JP Regular"), local("SourceHanSansJP-Regular"), url("/assets/fonts/SourceHanSansJP-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "源柔ゴシックP";
	font-weight: normal;
	font-style: normal;
	src: local("源柔ゴシックP Regular"), local("GenJyuuGothic-P-Regular"), url("/assets/fonts/GenJyuuGothic-P-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "源柔ゴシックP";
	font-weight: bold;
	font-style: normal;
	src: local("源柔ゴシックP Bold"), local("GenJyuuGothic-P-Bold"), url("/assets/fonts/GenJyuuGothic-P-Bold.woff2") format("woff2");
}

%font-heading {
	font-family: "源柔ゴシックP", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	letter-spacing: 2px;
}

body {
	color: #333;
	text-rendering: optimizeLegibility;
	font-family: "源ノ角ゴシック JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.header {
	display: flex;
	position: relative;
	min-height: 615px;
	padding: 78px 15%;
	background: url(/assets/images/mv-bg01.jpg) no-repeat center / cover;

	@media screen and (max-width: 768px) {
		min-height: 420px;
	}

	@media screen and (max-width: 480px) {
		min-height: 320px;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 15px;
		background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.0));
	}

	&__motto {
		color: #fff;
		@extend %font-heading;
		font-size: 48px;
		line-height: 72px;
		align-self: center;
		text-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.3);

		@media screen and (max-width: 768px) {
			font-size: 30px;
			line-height: 45px;
		}

		@media screen and (max-width: 480px) {
			font-size: 24px;
			line-height: 36px;
		}
	}
}

.sec {
	padding: 80px 60px;

	@media screen and (max-width: 768px) {
		padding: 40px 30px;
	}

	&--01 {
		text-align: center;

		@media screen and (max-width: 480px) {
			img {
				width: 80px;
			}
		}

		.sticker {

			@media screen and (max-width: 768px) {
				width: 120px;
			}

			@media screen and (max-width: 480px) {
				width: 80px;
			}
		}

		.heading {
			margin-top: 20px;
			margin-bottom: 0;
			@extend %font-heading;

			@media screen and (max-width: 480px) {
				font-size: 24px;
			}
		}

		.lead {
			margin-top: 20px;
			margin-bottom: 0;
			font-size: 20px;
			line-height: 34px;
			letter-spacing: 0.2px;

			@media screen and (max-width: 480px) {
				font-size: 16px;
				line-height: 27px;
			}
		}
	}

	&--02 {
		padding: 0;
	}

	&--03 {
		padding: 70px 60px;

		@media screen and (max-width: 768px) {
			padding: 30px 15px;
		}

		@media screen and (max-width: 480px) {
			padding: 30px;
		}
	}
}

.feature {
	display: flex;
	position: relative;
	overflow: hidden;
	min-height: 400px;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 768px) {
			flex-flow: column nowrap;
			min-height: 200px;
	}

	&::before {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: -18px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		content: "";
		filter: blur(9px) brightness(50%);
	}

	&--01 {

		&::before {
			background-image: url(/assets/images/sec02-img01.jpg);
		}
	}

	&--02 {

		&::before {
			background-image: url(/assets/images/sec02-img02.jpg);
		}
	}

	&--03 {

		&::before {
			background-image: url(/assets/images/sec02-img03.jpg);
		}
	}

	&--04 {

		&::before {
			background-image: url(/assets/images/sec02-img04.jpg);
		}
	}

	&--05 {

		&::before {
			background-image: url(/assets/images/sec02-img05.jpg);
		}
	}

	&--reverse {
		flex-direction: row-reverse;

		@media screen and (max-width: 768px) {
			flex-flow: column nowrap;
		}
	}

	&__picture {
		display: flex;
		overflow: hidden;
		position: relative;
		width: 57%;
		max-height: 400px;
		align-self: center;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		img {
			width: 100%;
			align-self: center;
		}
	}

	&__text {
		position: relative;
		width: 43%;
		padding: 20px 60px;
		color: #fff;

		@media screen and (max-width: 768px) {
			width: 100%;
			padding: 40px 30px;
		}

		.heading {
			@extend %font-heading;

			@media screen and (max-width: 768px) {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 26px;
			}

			@media screen and (max-width: 480px) {
				font-size: 24px;
			}
		}

		.lead {
			font-size: 20px;
			line-height: 34px;
			letter-spacing: 0.2px;

			@media screen and (max-width: 768px) {
				margin-top: 10px;
				margin-bottom: 0;
				font-size: 18px;
				line-height: 27px;
			}

			@media screen and (max-width: 480px) {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

.card-list {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;

	&::before {
		display: block;
		width: 25%;
		order: 1;
		content: "";

		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}

	&::after {
		display: block;
		width: 25%;
		order: 1;
		content: "";

		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}

	&__item {
		display: flex;
		width: calc(25% - 30px);
		margin: 10px 15px;
		padding: 10px 15px;
		border: 1px solid #ccc;
		border-radius: 6px;
		text-align: center;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 768px) {
			width: calc(50% - 30px);
		}

		@media screen and (max-width: 480px) {
			width: 100%;
			margin: 10px 0;
		}

		.label {
			margin-top: 0;
			margin-bottom: 0;
			color: #999;
			font-size: 16px;
			text-align: left;
			line-height: normal;
			align-self: flex-start;
		}

		.picture {
			overflow: hidden;
			margin-top: 10px;
			margin-bottom: 0;
			border: 1px solid #ccc;
			border-radius: 50%;
			color: #fff;

			&__content {
				width: 100%;
				height: 100%;
			}
		}

		.name {
			margin-top: 10px;
			margin-bottom: 0;
			@extend %font-heading;
			font-size: 26px;
			line-height: normal;
		}

		.handle {
			margin-top: 0;
			margin-bottom: 0;
			color: #666;
			font-size: 18px;
			line-height: normal;
		}

		.class {
			margin-top: 5px;
			margin-bottom: 0;
			font-size: 16px;
			color: #999;
		}

		.interest {
			margin-top: 20px;
			margin-bottom: 0;

			@media screen and (max-width: 480px) {
				margin-top: 10px;
			}

			.interest-list {
				@include clearfix;
				padding: 0;
				list-style: none;

				&__item {
					display: inline-block;
					margin-top: 4px;
					padding-right: 8px;
					padding-left: 8px;
					border-radius: 2px;
					background-color: #eee;
					word-break: break-word;
					overflow-wrap: break-word;
					color: #666;
				}
			}
		}

		.sns {
			display: flex;
			width: 100%;
			margin-top: 25px;
			margin-bottom: 30px;
			flex-grow: 1;
			justify-content: center;
			align-items: flex-end;

			@media screen and (max-width: 480px) {
				margin-top: 10px;
				margin-bottom: 30px;
			}

			.sns-list {
				display: inline-flex;
				padding: 0;
				list-style: none;
				flex-wrap: wrap;
				justify-content: center;

				&__item {
					margin: 5px;

					.icon {
						display: flex;
						width: 37px;
						height: 37px;
						border-radius: 50%;
						color: #fff;
						text-decoration: none;
						justify-content: center;
						align-items: center;

						&--twitter {
							background-color: #1da1f2;
						}

						&--facebook {
							background-color: #3b5998;
						}

						&--github {
							background-color: #999999;
						}

						&--website {
							background-color: #666666;
						}
					}
				}
			}
		}
	}
}

.footer {
	display: flex;
	min-height: 500px;
	padding: 80px 60px;
	background-color: #0068b6;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 768px) {
		min-height: 320px;
		padding: 40px 30px;
	}

	&__sns {

		.sns-list {
			display: inline-flex;
			margin: 0;
			padding: 0;
			font-size: 80px;
			list-style: none;

			&__item {
				margin-right: 15px;
				margin-left: 15px;

				.icon {
					color: #fff;
				}
			}
		}
	}
}

.u-only-pc {
	display: inherit;

		@media screen and (max-width: 768px) {
			display: none;
		}
}
