@charset "UTF-8";

@import "bourbon";

@font-face {
	font-family: "源ノ角ゴシック JP";
	font-weight: normal;
	font-style: normal;
	src: local("源ノ角ゴシック JP Regular"), local("SourceHanSansJP-Regular"), url("/assets/fonts/SourceHanSansJP-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "源柔ゴシックP";
	font-weight: normal;
	font-style: normal;
	src: local("源柔ゴシックP Regular"), local("GenJyuuGothic-P-Regular"), url("/assets/fonts/GenJyuuGothic-P-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "源柔ゴシックP";
	font-weight: bold;
	font-style: normal;
	src: local("源柔ゴシックP Bold"), local("GenJyuuGothic-P-Bold"), url("/assets/fonts/GenJyuuGothic-P-Bold.woff2") format("woff2");
}

%font-heading {
	font-family: "源柔ゴシックP", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	letter-spacing: 2px;
}

body {
	color: #333;
	text-rendering: optimizeLegibility;
	font-family: "源ノ角ゴシック JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.header {
	display: flex;
	position: relative;
	min-height: 320px;
	padding: 78px 15%;
	background: url("/assets/images/mv-bg01.jpg") no-repeat center / cover;

	@media screen and (min-width: 480px) {
		min-height: 420px;
	}

	@media screen and (min-width: 768px) {
		min-height: 615px;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.8));

		.link {
			display: block;
			padding: 5px 10px;
		}
	}

	&__motto {
		@extend %font-heading;
		align-self: center;
		color: #fff;
		font-size: 24px;
		line-height: 36px;
		text-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.3);

		@media screen and (min-width: 480px) {
			font-size: 30px;
			line-height: 45px;
		}

		@media screen and (min-width: 768px) {
			font-size: 48px;
			line-height: 72px;
		}
	}
}

.sec {
	padding: 40px 30px;

	@media screen and (min-width: 768px) {
		padding: 80px 60px;
	}

	&--01 {
		text-align: center;

		.sticker {
			width: 80px;

			@media screen and (min-width: 480px) {
				width: 120px;
			}

			@media screen and (min-width: 768px) {
				width: 160px;
			}
		}

		.heading {
			@extend %font-heading;
			margin-top: 20px;
			margin-bottom: 0;
			font-size: 24px;

			@media screen and (min-width: 480px) {
				font-size: 32px;
			}
		}

		.lead {
			margin-top: 20px;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 27px;
			letter-spacing: 0.2px;

			@media screen and (min-width: 480px) {
				font-size: 20px;
				line-height: 34px;
			}
		}
	}

	&--02 {
		padding: 0;

		@media screen and (min-width: 480px) {
			padding: 0;
		}

		@media screen and (min-width: 768px) {
			padding: 0;
		}
	}

	&--03 {
	}
}

.feature {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	position: relative;
	min-height: 200px;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		min-height: 400px;
	}

	&::before {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: -18px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		content: "";
		filter: blur(9px) brightness(50%);
	}

	@for $i from 1 through 5 {

		&--0#{$i} {

			&::before {
				background-image: url("/assets/images/sec02-img0#{$i}.jpg");
			}
		}
	}

	&--reverse {

		@media screen and (min-width: 768px) {
			flex-direction: row-reverse;
		}
	}

	&__picture {
		display: flex;
		align-self: center;
		overflow: hidden;
		position: relative;
		width: 100%;
		max-height: 400px;

		@media screen and (min-width: 768px) {
			width: 57%;
		}

		.picture {
			align-self: center;
			width: 100%;
			margin: 0;

			&__img {
				width: 100%;
			}
		}
	}

	&__text {
		position: relative;
		width: 100%;
		padding: 40px 30px;
		color: #fff;

		@media screen and (min-width: 768px) {
			width: 43%;
			padding: 20px 60px;
		}

		.heading {
			@extend %font-heading;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 24px;

			@media screen and (min-width: 480px) {
				font-size: 26px;
			}
		}

		.lead {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.2px;

			@media screen and (min-width: 480px) {
				font-size: 18px;
				line-height: 27px;
			}

			@media screen and (min-width: 768px) {
				font-size: 20px;
				line-height: 34px;
			}
		}
	}
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: -20px 0 0 0;
	padding: 0;
	list-style: none;

	&::before {
		display: block;
		order: 1;
		width: 100%;
		content: "";

		@media screen and (min-width: 480px) {
			width: 25%;
		}
	}

	&::after {
		display: block;
		order: 1;
		width: 100%;
		content: "";

		@media screen and (min-width: 480px) {
			width: 25%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 20px;
		padding: 10px 15px 35px;
		border: 1px solid #ccc;
		border-radius: 6px;
		text-align: center;

		@media screen and (min-width: 480px) {
			width: calc(50% - 10px);
		}

		@media screen and (min-width: 768px) {
			width: calc(25% - 15px);
		}

		.position {
			align-self: flex-start;
			margin-top: 0;
			margin-bottom: 0;
			text-align: left;
			color: #999;
			font-size: 16px;
			line-height: normal;
		}

		.avatar {
			overflow: hidden;
			margin-top: 10px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
			border-radius: 50%;
			color: #fff;

			&__img {
				width: 100%;
				height: 100%;
			}
		}

		.realname {
			@extend %font-heading;
			margin-top: 5px;
			margin-bottom: 0;
			font-size: 26px;
			line-height: normal;
		}

		.nickname {
			margin-top: 0;
			margin-bottom: 5px;
			color: #666;
			font-size: 18px;
			line-height: normal;
		}

		.course {
			margin-top: 5px;
			margin-bottom: 5px;
			color: #999;
			font-size: 16px;
		}

		.interest {
			margin-top: 10px;
			margin-bottom: 10px;

			.interest-list {
				padding: 0;
				list-style: none;
				@include clearfix;

				&__item {
					display: inline-block;
					margin-top: 4px;
					padding-right: 8px;
					padding-left: 8px;
					border-radius: 2px;
					background-color: #eee;
					color: #666;
				}
			}
		}

		.sns {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			margin-top: auto;
			margin-bottom: 5px;
			padding-top: 20px;

			.sns-list {
				display: inline-flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 0;
				list-style: none;

				&__item {
					margin: 5px;

					.icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 37px;
						height: 37px;
						border-radius: 50%;
						text-decoration: none;
						color: #fff;

						&--twitter {
							background-color: #1da1f2;
						}

						&--facebook {
							background-color: #3b5998;
						}

						&--github {
							background-color: #999999;
						}
					}
				}
			}
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 320px;
	padding: 40px 30px;
	background-color: #0068b6;

	@media screen and (min-width: 768px) {
		min-height: 500px;
		padding: 80px 60px;
	}

	&__sns {

		.sns-list {
			display: inline-flex;
			margin: 0;
			padding: 0;
			font-size: 80px;
			list-style: none;

			&__item {
				margin-right: 5px;
				margin-left: 5px;

				.icon {
					display: block;
					padding-right: 10px;
					padding-left: 10px;
					color: #fff;
					line-height: 1;
				}
			}
		}
	}
}

.u-only-pc {
	display: none;

	@media screen and (min-width: 768px) {
		display: inherit;
	}
}
